/*    
          RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

 body {
   background-color: #c7c7c7;
}
 /* 
          GENERAL
 */


 /* 
          HEADER
 */

 .contenitore-header {
   padding: 12px;
   background-color: white;
 }

 #intestazione, #logo {
   display: inline-block;
   vertical-align: middle;
   font-family: 'Roboto', sans-serif;
 }

 /* 
 
           MAIN

 */

 .contenitore-add {
   background-color: white;
   border-radius: 5px;
   width: 60%;
   height: 50px;
   margin: 50px auto;
 }


.add {
   display: inline-block;
   border: 1px solid lightgrey;
   border-radius: 5px;
   padding: 5px;
   margin-top: 10px;
}

.task {
   background-color: #47ADF1;
   color: white;
}

.section {
   background-color: white;
   color: grey;
}

#botton-ad {
   margin-left: 50px;
}