/*    
          RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

 body {
   background-color: #c7c7c7;
}
 /* 
          GENERAL
 */


 /* 
          HEADER
 */

 .contenitore-header {
   padding: 12px;
   background-color: white;
 }

 #intestazione, #logo {
   display: inline-block;
   vertical-align: middle;
   font-family: 'Roboto', sans-serif;
 }

 /* 
 
           MAIN

 */

 /* 
   Sezione 1 -ADD
 */

 main{
   margin: 0 auto;
   width: 80%;
 }
 .contenitore-add {
   background-color: white;
   border-radius: 5px;
   width: 60%;
   height: 50px;
   margin: 20px auto 2px;
 }


.add {
   display: inline-block;
   border-radius: 5px;
   padding: 5px;
   margin-top: 10px;
}

.task {
   background-color: #47ADF1;
   color: white;
}

.section {
   background-color: white;
   color: grey;
}

#button-ad {
   margin-left: 50px;
}

/* 
   Sezione 2 - LIST
*/

.contenitore-list {
   background-color: white;
   border-radius: 5px;
   width: 60%;
   height: 800px;
   margin: auto;
}

.list-senior {
   margin-left: 70px;
   padding-top: 30px;
   list-style: none;
}

.list-junior {
   margin-bottom: 20px ;
   padding-left: 20px;
   list-style: none;
}

.etichetta {
   padding: 3px 10px;
   border-radius: 30px;
   color: white;
   text-decoration: none;
}

.editorial {
   background-color: #47ADF1;
}

.q1-goals {
   background-color: #9B71E3;
}

.recruiting {
   background-color: #64C0A9;
}

.mobile {
   background-color: #F19E33;
}

.website {
   background-color: #D7619F;
}

.sales {
   background-color: #AFC825;
}

.span {
   display: inline-block;
   font-size: 18px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   line-height: 18px;
   text-align: center;
   border: 1px solid;
}
.check {
   color: rgb(57, 142, 58);
   border-color: rgb(57, 142, 58) ;
}

.cross {
   color: red;
   border-color: solid red;
}

.riga-lista {
   padding-top: 20px;
}